body {
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	font-size: 5vw;
	line-height: 6.5vw;

   	text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;	
}

.app {
	width: 100%;
	box-sizing: border-box;
	padding-top: 0;
}

.logo, .intro, .body > * {
	padding-left: 70px;
	padding-right: 70px;	
}

.logo {
	padding-top: 40px;
	padding-bottom: 30px;
}

.logo > * {
	font-size: 15vw;
	line-height: 13vw;	
	font-weight: bold;
	margin-left: -10px; /*hack to align left*/
}

.logo .more, .logo .please {
	color: rgba(0,0,0,0.3);
}

.logo .ideas {
	color: red;
}

.intro p {
	margin-top: 40px;
	margin-bottom: 80px;
}

.intro img {
	width: 70%;
	display: block;
	margin: auto;
}

.button-container {
	border-top: 10px solid red;
	padding-top: 50px;
	padding-bottom: 50px;
	background: rgba(0,0,0,0.05);
}

.list-name, .shuffle {
	color: rgba(0,0,0,0.4);
}

.selected.list-name {
	color: red;
	font-weight: bold;
}

.button-container {
	position: relative;
	overflow: auto;
}

.lists-title, .combinations-header .title {
	font-weight: bold;
	padding-bottom: 2vw;
}

.list-names {
	float: left;
}

.shuffle.button {
	float: right;
	font-style: italic;
}

.active.shuffle.button {
	color: red;
}

.button {
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
	                              not supported by any browser */		
}

.edit.button, .done.button {
	float: right;
	color: grey;
	padding: 30px;
	margin: -15px;
}

.combinations-header {
	padding-top: 50px;
}

.combinations-header .title {
	float: left;
}

.combinations {
	clear: left;
	padding-bottom: 6vw;
	min-height: 100%;
}

.combination {
	border-bottom: 2px solid lightgrey;
	padding-top: 2vw;
	padding-bottom: 2vw;
}

/* editing */

.body.editing .list-name {
	color: rgba(0,0,0,0.8);
}

.body.editing .input-container {
	padding-top: 30px;
}

.body.editing .input-title {
	font-size: 4vw;
	font-weight: bold;
}

.body.editing .input-container input {
	width: 100%;
	font-size: 5vw;
	line-height: 6.5vw;
	border: none;
	border-bottom: 3px solid grey;
	padding-top: 10px;
	padding-bottom: 10px;
}

.input-container input, .items-container {
	margin-bottom: 50px;
}

.body.editing .input-container input:focus {
	border-bottom: 3px solid red;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.item {
	color: rgba(0,0,0,0.7);
}

.item .remove-item.button {
	color: rgba(0,0,0,0.3);
	padding: 0.3em;
}

.body.editing .input-container input.item {
	float: left;
	/*width: 90%;*/
}

.new-item.field {
	display: block;
}

.new-item.field:hover .add-item.button {
	color: red;
}

.add-item.button {
	color: rgba(0,0,0,0.3);
	padding: 15px;
	position: absolute;
	right: 0;
}

.new-item.field {
	position: relative;
}


.save.button {
	display: block;
	background: red;
	color: white;
	padding: 15px 20px 15px 20px;
	clear: left;
	font-weight: bold;
	display: inline-block;
}

@media (min-width: 1000px) {
	body {
		font-size: 1.5em;
		line-height: 1.2em;
	}

	.app {
		width: 30%;
		margin: auto;
	}

	.app > * {
		padding-left: 20px;
		padding-right: 20px;
	}

	.logo > * {
		font-size: 4em;
		line-height: 1em;
	}

	.intro img {
		width: 50%;
		display: block;
		margin: auto;
	}

	.button-container {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.list-name {
		line-height: 1.5em;
	}

	.intro p {
		margin-bottom: 1em;
	}

	.lists-title {
		padding-bottom: 10px;
	}

	.combinations-title {
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.combinations {
		line-height: 1.5em;
	}

	.combination {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		padding-top: 0.2em;
		padding-bottom: 0.2em;
	}	

}
